*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Slab", serif;
}


header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*align-items: center;*/
    gap: 10px;
    background-color: #131745;
    color: #fff;
    /*padding: 10px;*/
    min-height: 130px;
 
}

header .title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /*margin-bottom: 20px;*/
}

.section-header h1{
    display: flex;
    flex: 1;
    font-size: 2.5em;
    align-items: center;
}


.section-header a{
    font-size: 1.4em;
    padding: 6px;
}

header img{
    width: 200px;
    height: 200px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    gap: 5px;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 15px;
}

header a{
    transition: 0.09s; 
}

header a:hover {
    color: rgba(175, 175, 175, 0.862);

    
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #131745;
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 430px) {
    header nav ul li {
        margin-right: 0px;
    }

    .section-header a{
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 600px) {
    .title h1{
        display: none;
    }

    header img{
        width: 120px;
        height: 120px;
    }


}